@import './variables.scss';

.bookmark-panel{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  padding: 15px;
  border-radius: $borderRadius;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  flex-direction: row;
  @media (min-width: 768px) {
    justify-content: space-between;
    padding: 25px;
  }

 &__category-title {
  width: 100%;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $mainTextColor;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-weight: 900;
  animation: bookmarkAnimTitle .5s 1 both;
  padding: 10px 35px 10px 0;
  display: block;
  @media (min-width: 576px) {
    font-size: 2rem;
  }
  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
 }

}