@import './variables.scss';

@keyframes showCard {
  0% {
    transform: scale(0);
  }
  70%{
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
  }
}

.card {
  cursor: pointer;
  position: relative;
  width: 45%;
  padding-top: 45%;
  margin-bottom: 20px;
  background: $BGColorPanels;
  box-shadow: inset 3px -3px 4px rgba($secBGColor, .9), 3px -3px 4px rgba(0, 0, 0, .25);
  border-radius: $borderRadius;
  transition: transform .1s, box-shadow .1s;
  overflow: hidden;
  background-size: cover;
  &:hover {
    box-shadow: inset 5px -5px 4px rgba(lighten($secBGColor, 8%), .5), 3px -3px 4px rgba(0, 0, 0, .25);
    .card__category-title{
      color: white;
    }
  }
  &:active{
    transform: translate(2px, -2px);
    box-shadow: inset 4px -4px 4px rgba(black, .15), 0px 0px 0px rgba(0, 0, 0, .25);
  }

  @media (min-width: 576px) {
    width: 30%;
    padding-top: 30%;
  }
  @media (min-width: 768px) {
    width: 22.5%;
    padding-top:22.5%;
  }
  &__category-title{
    color: rgba(255,255,255, .75);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
    transition: color .1s, opacity .1s;
  }
  &__card-container{
    transition: transform .2s, background .2s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }

    &__settings-icon-click{
      position: absolute;
      top: 5px;
      right: 5px;
      color: rgba($mainTextColor, .5);
      font-size:  25px;
      display: block;
      padding: 10px;
      border-radius: $borderRadius;
      transition: transform .2s ease, color .2s;
      z-index: 6;
      cursor: pointer;
    &:hover{
      transform: scale(1.25);
      color: $mainTextColor;
    }
  }
  &__home-icon-click{
    position: absolute;
    top: 15px;
    right: 15px;
    color: rgba($mainTextColor, .5);
    font-size:  25px;
    transition: transform .2s ease, color .2s;
    z-index: 5;
    cursor: pointer;
  &:hover{
    transform: scale(1.25);
    color: $mainTextColor
  }
  }
    &__bookmark-icon-click{
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      color: rgba($mainTextColor, .05);
      transition: transform .2s ease, color .2s;
      z-index: 5;
      cursor: pointer;
      > svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        font-size: 150px;
      }
    &:hover{
      color: rgba($mainTextColor, .15);
    }
  }
}


.active-settings{
  width: 90%;
  padding-top: 45%;
  transform: translate(2px, -2px);
  transition: box-shadow .1s,box-shadow .1s, transform .1s;
  box-shadow: inset 7.5px -7.5px 7.5px rgba(0, 0, 0,.2), 0px 0px 0px rgba(0, 0, 0, .5);
  
  &:hover {
    box-shadow: inset 10px -10px 10px rgba(0, 0, 0,.2), 0px 0px 0px rgba(0, 0, 0, .5);
    
  }
  .card__card-container{
    background: rgba(0, 0, 0, .1);
    border-radius: $borderRadius;
  }
  @media (min-width: 576px) {
    width: 30%;
    padding-top: 30%;
  }
  @media (min-width: 768px) {
    width: 22.5%;
    padding-top:22.5%;
  }

}

.active-bookmark{
  width: 100vw;
  padding-top: calc(100vh - 100px);
  transition: box-shadow .1s, transform .1s;
  box-shadow: inset 5px -5px 5px rgba(0, 0, 0,.15), 0px 0px 0px rgba(0, 0, 0, .5);
  &:hover {
    box-shadow: inset 7.5px -7.5px 7.5px rgba(0, 0, 0,.15), 0px 0px 0px rgba(0, 0, 0, .5);
  }
  &:active{
    transform: translate(0, 0);
  }
  .card__card-container{
    border-radius: $borderRadius;
  }
}


.active-bookmark, .active-settings {
  cursor: default;
}