@import './variables.scss';

@keyframes showCard {
  0% {
    transform: scale(0);
  }
  70%{
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
  }
}

.card {
  cursor: pointer;
  position: relative;
  width: 45%;
  padding-top: 45%;
  margin-bottom: 20px;
  background: rgba($mainBGColor, 1);
  box-shadow: inset 3px -3px 3px rgba($mainBGColorLighten, .9), 3px -3px 4px rgba(0, 0, 0, .4);
  border-radius: $borderRadius;
  transition: background .1s, transform .1s, box-shadow .1s;
  overflow: hidden;
  &:hover {
    transform: translate(2px, -2px);
    background: rgba($mainBGColor, .95);
    box-shadow: inset 5px -5px 4px rgba(lighten($mainBGColorLighten, 8%), .5), 0px 0px 0px rgba(0, 0, 0, .5);
  }
  &:active{
    box-shadow: inset 4px -4px 4px rgba(darken($mainBGColor, 10%), .7), 0px 0px 0px rgba(0, 0, 0, .5);
  }

  @media (min-width: 576px) {
    width: 30%;
    padding-top: 30%;
  }
  @media (min-width: 768px) {
    width: 22.5%;
    padding-top:22.5%;
  }

  &__card-container{
    transition: transform .2s, background .2s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

    &__settings-icon-click{
      position: absolute;
      top: 5px;
      right: 5px;
      color: rgba(211, 211, 211, .5);
      font-size:  25px;
      display: block;
      padding: 10px;
      border-radius: $borderRadius;
      transition: transform .2s ease, color .2s;
      z-index: 6;
      cursor: pointer;
    &:hover{
      transform: scale(1.25);
      color: rgba(211, 211, 211, 1);
    }
  }
  &__home-icon-click{
    position: absolute;
    top: 15px;
    right: 15px;
    color: rgba(211, 211, 211, .5);
    font-size:  25px;
    transition: transform .2s ease, color .2s;
    z-index: 5;
    cursor: pointer;
  &:hover{
    transform: scale(1.25);
    color: rgba(211, 211, 211, 1);
  }
  }
    &__bookmark-icon-click{
      position: absolute;
      top: 50%;
      left: 50%;
      color: rgba(211, 211, 211, .05);
      font-size:  125px;
      transform: translate(-50%, -50%) scale(1);
      transition: transform .2s ease, color .2s;
      z-index: 5;
      cursor: pointer;
    &:hover{
      transform: translate(-50%, -50%) scale(1.1);
      color: rgba(211, 211, 211, .3);
    }
  }
}


.active-settings{
  width: 90%;
  padding-top: 45%;
  transform: translate(2px, -2px);
  transition: box-shadow .2s,box-shadow .2s, transform .2s;
  box-shadow: inset 10px -10px 10px rgba(0, 0, 0,.3), 0px 0px 0px rgba(0, 0, 0, .5), 0 0 0 5px $mainBGColorLighten;
  &:hover {
    box-shadow: inset 10px -10px 10px rgba(0, 0, 0,.3), 0px 0px 0px rgba(0, 0, 0, .5), 0 0 0 5px $mainBGColorLighten;
  }
  .card__card-container{
    background: rgba(0, 0, 0, .1);
    border-radius: $borderRadius;
  }
  @media (min-width: 576px) {
    width: 30%;
    padding-top: 30%;
  }
  @media (min-width: 768px) {
    width: 22.5%;
    padding-top:22.5%;
  }

}

.active-bookmark{
  width: calc(100% - 5px);
  padding-top: calc(100vh - 100px);
  transform: translate(2px, -2px);
  transition: box-shadow .2s,box-shadow .2s, transform .2s;
  box-shadow: inset 10px -10px 10px rgba(0, 0, 0,.15), 0px 0px 0px rgba(0, 0, 0, .5), 0 0 0 5px $subBGColorLighten;
  transition: background .2s;
  &:hover {
    box-shadow: inset 10px -10px 10px rgba(0, 0, 0,.15), 0px 0px 0px rgba(0, 0, 0, .5), 0 0 0 5px $subBGColorLighten;
  }
  .card__card-container{
    border-radius: $borderRadius;
  }

}


.active-bookmark, .active-settings {
  cursor: default;
}