@import './variables.scss';

.empty-site{
position: relative;
width: 100%;
box-shadow: none;
background: rgba($mainUserColor, .2);
border-radius: $borderRadius;
border-left: 2px solid rgba(white, .75);
border-right: 2px solid rgba(white, .75);
color: rgba(white, .75);
transition: background .2s;  

  &.site{
    height: 50px;
    @media (min-width: 576px) {
      width: 35%;
    }
  }
  &__plus-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
  }
  &:hover{
    background: rgba(white, .1);
    box-shadow: none;
  }
}