@import './variables.scss';


.empty-group {
  &::after{
    display: none;
  }
  text-align: center;
  &__plus-icon{
    transform: scale(1.15);
    @media (min-width: 768px) {
      transform: scale(1.35);
    }

  }
}