@import './variables.scss';


.empty-group {
  box-shadow: none;
  background: rgba($mainUserColor, .2);
  border-radius: $borderRadius;
  border-left: 2px solid rgba(white, .75);
  border-right: 2px solid rgba(white, .75);
  color: rgba(white, .75);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  transition: background .2s;
  margin: 10px;
  &:hover{
    background: rgba(white, .1);
    box-shadow: none;
  }
  &::after{
    display: none;
  }
  &__plus-icon{
    transform: scale(1.15);
    @media (min-width: 768px) {
      transform: scale(1.35);
    }

  }
}