.card{
  &__empty{
    opacity: .75;
    transition: opacity .2s, transform .1s, box-shadow .1s;
    &:hover{
      opacity: .85;
      svg{
        opacity: 1;
      }
    }
  }
  &__empty-icon{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &>svg{
      color: white;
      font-size: 8rem;
      opacity: .85;
      transition: opacity .1s;
    }
  }

}