@import './variables.scss';

.group-pop-up {
  text-align: center;
  height: 100%;
  &__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__name{
    font-size: 1.75rem;
    letter-spacing: 1.25px;
    transition: color .1s;
    @media (min-width: 576px) {
      font-size: 2.25rem;
    }
  }
  &__name-input{
    align-items: center;
    margin: 20px auto;
    display: block;
    border-radius: $borderRadius;
    padding: 10px 20px;
    border: 0;
    transition: background .1s, box-shadow .1s;
    background: rgba(white, .85);
    width: 100%;
    max-width: 500px;
    color: grey;
    box-shadow: inset 1.5px -1.5px 1.5px rgba(black, .4);
    @media (min-width: 576px) {
      margin-top: 30px;
    }
    &:focus{
      background: rgba(white, .95);
      box-shadow: inset 2px -2px 2px rgba(black, .3);
    }
    &::placeholder{
      color: rgba(black, .1);
    }
  }
  &__alert{
    color: rgba(255, 100, 100, .7);
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 2rem;
    transition: transform 1s, opacity 1s;
    line-height: 2.5rem;
  }
  &__icons-wrapper{
    display: flex;
    justify-content: center;
    width: 200px;
    max-width: 90%;
    margin: 40px auto;
  }
  &__accept-icon, &__delete-icon{
    font-size: 4rem;
    cursor: pointer;
    transition: transform .1s, color .1s;
    color: rgba(white, .9);
    @media (min-width: 576px) {
      font-size: 6rem;
    }
    &:hover{
      transform: scale(1.1);
      color: rgba(white, 1);
    }
    &:active{
      transform: scale(1);
      color:rgba(white, .6);
    }
  }
  &__delete-icon{
    margin-left: 50px;
  }
}