@import './variables.scss';

.group-item{
  position: relative;
  white-space: nowrap;
  color: grey;
  margin: 5px 10px;
  font-weight: 500;
  text-transform: uppercase;
  animation: bookmarkAnimTitle .5s 1 both;
  list-style-type: none;
  border-radius: $borderRadius* 1.25;
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  transition: box-shadow .15s;
  font-size: 1.5rem;
  background: rgba(white, .7);
  overflow: hidden;
  box-shadow: $shadowInsetNormal;
  @media (min-width: 768px) {
    line-height: 3.5rem;
  }
  &:hover{
    box-shadow: $shadowInsetActiveHover;
  }
  &:active{
    box-shadow: $shadowInsetActivePush;
    
  }
  &.active-select {
    background: light;
    transition: box-shadow .05s;
    font-weight: 700;
    box-shadow: $shadowInsetActiveSelect;
  }

}
.group-item__title{
  transition: transform .15s;
}