.home-panel{
  position: relative;
  padding-top: 75px;

  &__cards-container{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: unsafe;
    list-style-type: none;
    padding: 0 20px;
    margin: 0 auto;
  }
}