.home-panel{
  position: relative;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  &__cards-container{
    padding-top: 20px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    list-style-type: none;
  }
}