@import './variables.scss';

@keyframes buttonFlash {
  0%{
    left: -125%;
  }
  10% {
    left: -125%;
  }
  100%{
    left: 125%;
  }
}

.login-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: $mainTextColor;
  flex-direction: column;
  @media (min-width: 768px) {
    margin: 0 auto;
    max-width: 1200px;
    flex-direction: row;
    justify-content: flex-start;
  }
  &__container{
    
    background: $BGColorOpLow;
    transition: background .2s;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: space-evenly;
    @media (min-width: 768px) {
      border-radius: $borderRadius 0 0 $borderRadius;
      max-width: 350px;
    }
    &:hover{
      background: $BGColor;
    }
  }
  &__form {
    height: 95%;
    width: 100%;
    max-height: 750px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  &__title {
    width:100%;
    margin: 0;
    font-weight: 900;
    text-align: center;
    font-size: 3.5rem;
    position: relative;
    @media (min-width: 768px) {
      font-size: 4rem;
    }
    &:after{
      content: "";
      position: absolute;
      top: calc(100% + 20px);
      left: 50%;
      height: 1px;
      width: 80%;
      background: rgba(white, .2);
      transform: translate(-50%,-50%);
    }
  }
  &__email-title,
  &__name-title,
  &__password-title {
    display: block;
    font-size: 1.5rem;
  }
  &__email-input,
  &__name-input,
  &__password-input {
    color: $secondColor;
    width: 100%;
    padding: 7.5px;
    display: block;
    margin: 10px 0;
    max-width: 300px;
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: $borderRadius/2;
    background: lightgrey;
    box-shadow: $shadowInsetActivePush;
    transition: box-shadow .2s;
    &:focus {
      box-shadow: $shadowInsetActiveSelect
    }
    &::placeholder{
      color: rgba(black, .2);
    }
  }

  &__login-button {
    background: none;
    max-width: 500px;
    font-size: 2.0rem;
    padding: 10px 35px;
    border-radius: $borderRadius;
    border: 3px solid white;
    cursor: pointer;
    transition: background .2s, color .2s, box-shadow .1s;
    color: $mainTextColor;
    position: relative;
    overflow: hidden;
    mix-blend-mode: lighten;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background: linear-gradient(to left, transparent, rgba(white, .3), transparent);
      position: absolute;
      top: 0;
      left: -100%;
      transform-origin: 0 0;
      animation: buttonFlash 5s infinite;
      mix-blend-mode: exclusion;
    }
    &:hover {
      background: $BGColor;
    }
    &:active {
      background: $BGColor;
      box-shadow: inset 2px -2px 2px rgba(black, .3);
    }
    
  }

  &__sign-title {
    font-size: 1.5rem;
    padding: 0 20px;
    color: rgba(white,.85);
    position: relative;
      &:after{
      content: "";
      position: absolute;
      bottom: calc(100% + 25px);
      left: 50%;
      height: 1px;
      width: 80%;
      background: rgba(white, .15);
      transform: translate(-50%,-50%);
    }
  }

  &__sign-link {
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &__alert{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(255, 100, 100, .7);
  }
  &__credits{
    width: 100%;
    opacity: .5;
  }
} 