@import './variables.scss';

@keyframes buttonFlash {
  0%{
    left: -125%;
  }
  10% {
    left: -125%;
  }
  100%{
    left: 125%;
  }
}

.login-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: $mainTextColor;
  @media (min-width: 768px) {
    margin: 0 auto;
    max-width: 1200px;
    justify-content: flex-end;
  }
  &__form {
    background: $BGColorOpVeryLow;
    text-align: center;

    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: background .2s;
    @media (min-width: 768px) {
      border-radius: $borderRadius 0 0 $borderRadius;
      max-width: 350px;
    }

    &:hover{
      background: $BGColor;
    }
  }
  &__title {
    width:100%;
    margin: 0;
    font-weight: 900;
    text-align: center;
    font-size: 3.5rem;
    @media (min-width: 768px) {
      font-size: 4.5rem;
    }
  }
  &__email-title,
  &__username-title,
  &__password-title {
    display: block;
    font-size: 1.5rem;
  }
  &__email-input,
  &__username-input,
  &__password-input {
    color: $secondColor;
    width: 100%;
    padding: 7.5px;
    display: block;
    margin: 10px 0;
    max-width: 300px;
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: $borderRadius/2;
    background: lightgrey;
    box-shadow: $shadowInsetActivePush;
    transition: box-shadow .2s;
    &:focus {
      box-shadow: $shadowInsetActiveSelect
    }
  }

  &__login-button {
    background: none;
    max-width: 500px;
    font-size: 2.0rem;
    padding: 10px 35px;
    border-radius: $borderRadius;
    border: 3px solid white;
    cursor: pointer;
    transition: background .2s, color .2s, box-shadow .1s;
    color: $mainTextColor;
    position: relative;
    overflow: hidden;
    mix-blend-mode: lighten;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background: linear-gradient(to left, transparent, rgba(white, .3), transparent);
      position: absolute;
      top: 0;
      left: -100%;
      transform-origin: 0 0;
      animation: buttonFlash 5s infinite;
      mix-blend-mode: exclusion;
    }
    &:hover {
      background: $BGColor;
    }
    &:active {
      background: $BGColor;
      box-shadow: inset 2px -2px 2px rgba(black, .3);
    }
    
  }

  &__sign-up-title {
    font-size: 1.5rem;
    padding: 0 20px;
    color: rgba(white,.85);
  }

  &__sign-up-link {
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
} 