@import '../Sass/variables.scss';

@keyframes opacityAnim {
    from {
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

.settings-panel{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: $borderRadius;
  background: $BGColor;
  transition: box-shadow .1s;
  box-shadow: inset 0 0 4px 4px rgba(black, .15);
  animation: opacityAnim .2 1;
  font-size:3rem;
  &__alert{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $mainUserColor;
    z-index: 5;
    padding: 15px;
    font-size: 1.75rem;
  }
  &__alert-back-icon{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2.5rem;
    color: rgba(255,255,255,.5);
    svg{
      transition: transform .15s ease, color .15s;
    }
    &:hover svg{
      transform: scale(1.2);
      color: rgba(255,255,255,1);
      cursor: pointer;
    }
  }
  &__alert-confirm-wrapper{
    display: flex;
    justify-content: center;  
  }
  &__alert-accept{
    margin:20px;
    font-size: 4rem;
    cursor: pointer;  
    color: rgba(255,255,255,.5);
    transition: transform .15s ease, color .15s;
    &:hover{
    transform: scale(1.2);
    color: rgba(255,255,255,1);
    }
  }
  &__alert-cancel{
    margin:20px;
    font-size: 3.5rem;
    cursor: pointer;  
    color: rgba(255,255,255,.5);
    transition: transform .15s ease, color .15s;
    &:hover{
    transform: scale(1.2);
    color: rgba(255,255,255,1);
    }
  }
  // &__alert-message{

  // }
  &__delete-category{
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: rgba(255,255,255,.5);
    z-index: 2;
    font-size: 2.5rem;
    svg{
      transition: transform .15s ease, color .15s;
    }
    &:hover svg{
      transform: scale(1.2);
      color: rgba(255,255,255,1);
      cursor: pointer;
    }
  }
  &__edit-accept-icon{
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 1;
    font-size: 2.6rem;
    transition: transform .15s ease, color .15s;
    &:hover{
      transform: scale(1.2);
    color: rgba(255,255,255,1);
    }
  }
  &__settings-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__edit-text-icon{
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.5); 
    transition: transform .15s ease, color .15s;
    cursor: pointer;
    font-size: 3.25rem;
    transform: scale(1);
    &:hover{
      transform: scale(1.1);
      color: rgba(255,255,255,1);
    }
  }
  &__text-input{
    font-size: 1.5rem;
    width: 0;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: $borderRadius/2;
    height: 0px;
    border: none;
    transition: box-shadow .2s, height .2s, opacity .2s, width .2s;
    box-shadow: $shadowInsetActivePush;
    color: $BGColor;
    opacity: 0;
    text-align: center;
    &:focus {
      box-shadow: $shadowInsetActiveSelect;
    }
    &::placeholder {
      color: rgba(0,0,0,.3);
      text-align: center;
    }
  }
  &__image-wrapper{
    position: relative;
    margin-top: 15px;
  }
  &__switch-img-icon{
    cursor: pointer;
    transition: transform .1s, color .1s;
    color: rgba(255, 255, 255, 0.5);
    &:hover{
      transform: scale(1.1);
      color: rgba(255,255,255,1);
    }
  }
  &__upload-wrapper {
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    right: 45px;
    top: -15px;
    padding-top: 5px;
    width: 50px;
    height: 40px;
    border-radius: $borderRadius/4;
    transform: translateX(0);
    margin: 10px 0;
    transform: scale(.5);
    opacity: 0;
    transition: transform .1s, opacity .1s;
    &:hover .settings-panel__upload-img-icon{
      transform: translateX(-50%) scale(1.1);
      color: rgba(255,255,255,1);
    }
  }

  &__file-input{
    cursor: pointer;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
    position: absolute;
    right: 0;
    top: 0;

  }
  
  &__upload-img-icon{
    z-index: -1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: transform .1s, color .1s;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
  &__remove-img-icon{
    position: absolute;
    top: 0;
    left: 50px;
    color: rgba(255, 255, 255, 0.5);
    transition: transform .1s, opacity .1s, color .1s;
    transform: scale(.5);
    opacity: 0;
    cursor: pointer;
    svg{
      transition: transform .1s, color .1s;
    }
    &:hover svg{
      transform: scale(1.1);
      color: rgba(255,255,255,1);
    }
  }
}
