@import './variables.scss';
.sites-panel{
  width: 100%;
  border-radius: $borderRadius;
  box-shadow: inset -2px 2px 2px rgba(0, 0, 0, .25), -2px 2px 2px rgba(255, 255, 255, 0.35);
  height: calc(75% - 2rem);
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgba(black, .3);
  backdrop-filter: blur(5px);
  @media (min-width: 576px) {
    margin-left: 10px;
    height: calc(100% - 6rem);
    flex: 1;
  }
  @media (min-width: 768px) {
    height: calc(100% - 8rem);
    margin-left: 20px;
  }
 &__list{
   height: 100%;
   width: 100%;
   overflow-x: hidden;
   overflow-y: scroll;
   border-radius: $borderRadius;
 }
 &__group-name{
   box-shadow: $shadowInsetActivePush;
   display: flex;
   justify-content: center;
   font-weight: 700;
   font-size: 1.25rem;
  height: auto;
  letter-spacing: .75px;
  padding: 8px;
  color: lightgray;
  cursor: default;
  background: rgba(lightgrey, .5);
  &:hover{
    box-shadow: $shadowInsetActivePush;
    background: rgba(lightgrey, .5);

  }
 }
}