@import './variables.scss';

.site{
position: relative;
border-radius: $borderRadius;
margin: 10px;
padding: 20px;
height: 150px;
cursor: pointer;
transition: box-shadow .1s, background .1s;
color: $darkTextColor;
display: flex;
flex-wrap: wrap;
animation: bookmarkAnimTitle .5s 1 both;
box-shadow: inset 2px -2px 2px rgba(white, 1);
background: rgba(white, .7);
overflow: hidden;
  &:hover{
    box-shadow: $shadowInsetActiveHover;
    background: rgba(white, .75);
  }
  &:active {
    box-shadow: $shadowInsetActivePush;
  }
  &__favicon{
    width: 20px;
    height: 20px;;
  }
  &__name{
    font-size: 1.5rem;
    flex: 1;
    text-align: center;
  }
  &__update-time{
    width: 100%;
  }
  &__link, &__edit{
    right: 0;
    position: absolute;
    width: 50px;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem 20px 0 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: box-shadow .1s, color .1s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $mainUserColor;
    color: lightgrey;
    border: 0;
    cursor: pointer;
    &>svg{
      transform: translateY(-50%);
    }
    &:hover{
      box-shadow: $shadowInsetActiveHover;
      color: white;
    }
    &:active{
      box-shadow: $shadowInsetActivePush;
    }
  }
  &__edit{
    top: 0;
    bottom: 50%;
    margin-bottom: 1px;
  }
  &__link{
    top: 50%;
    bottom: 0;   
    margin-top: 1px;
  }
}