@import './variables.scss';
.sites-panel{
  width: 100%;
  background: lightgray;
  border-radius: $borderRadius;
  box-shadow: inset -2px 2px 2px rgba(0, 0, 0, .25), -2px 2px 2px rgba(255, 255, 255, 0.35);
  height: 65%;
  overflow-x: hidden;
  overflow-y: scroll;
  @media (min-width: 768px) {
    margin-left: 20px;
    height: 90%;
    flex: 1;
  }
 &__list{
   height: 94%;
   width: 99%;
   overflow-x: hidden;
   overflow-y: scroll;
   border-radius: $borderRadius;
 }
}