$mainBGColor: rgb(88, 133, 189);
$secBGColor: #3495A3;
$subBGColorLighten: 
#d1c4e9;
$borderRadius: 10px;
$BGColorBody: rgb(211, 211, 211);
$mainTextColor: rgb(211, 211, 211);
//
//gradient and base gradient colors
//
$firstColor: rgb(100, 100, 150);
$secondColor:rgb(50, 150, 170);
$thirdColor:rgb(150, 140, 90);
// $firstColor: rgb(120, 80, 140);
// $secondColor:rgb(50, 150, 170);
// $thirdColor:rgb(175, 140, 70);
$BGColorPanels:  linear-gradient(45deg, $firstColor 0%, $secondColor 50%, $thirdColor 100%);

@keyframes bookmarkAnimTitle {
  0%{
   opacity: 0;
  }
  100%{
    opacity: 1;
   }
}