$mainBGColor: rgb(88, 133, 189);
$secBGColor: #3495A3;
$subBGColorLighten: 
#d1c4e9;
$borderRadius: 10px;
$BGColorBody: rgb(211, 211, 211);
$mainTextColor: rgb(211, 211, 211);
//
//gradient and base gradient colors
//
$firstColor: rgb(100, 100, 150);
$secondColor:rgb(50, 150, 170);
$thirdColor:rgb(150, 140, 90);

$opacityNormal: 1;
$opacityLow: .7;
$opacityVeryLow: .3;

$BGColorPanels:  linear-gradient(45deg, rgba($firstColor, $opacityNormal) 0%, rgba($secondColor, $opacityNormal) 50%, rgba($thirdColor, $opacityNormal) 100%);

$BGColorPanelsOpacityLow:  linear-gradient(45deg, rgba($firstColor, $opacityLow) 0%, rgba($secondColor, $opacityLow) 50%, rgba($thirdColor, $opacityLow) 100%);

$BGColorPanelsOpacityVeryLow:  linear-gradient(45deg, rgba($firstColor, $opacityVeryLow) 0%, rgba($secondColor, $opacityVeryLow) 50%, rgba($thirdColor, $opacityVeryLow) 100%);

@keyframes bookmarkAnimTitle {
  0%{
   opacity: 0;
  }
  100%{
    opacity: 1;
   }
}