$mainBGColor: #5e35b1;
$mainBGColorLighten: #9575cd;
$subBGColorLighten: 
#d1c4e9;
$borderRadius: 10px;



@keyframes bookmarkAnimTitle {
  0%{
   opacity: 0;
  }
  100%{
    opacity: 1;
   }
}