@import './Sass/variables.scss';

html {
  font-family: 'Montserrat',
    sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}
body{
  // background-image: 
  // linear-gradient(rgba($mainUserColor, .075),rgba($mainUserColor, .075)),
  // linear-gradient(rgba(white, .2),rgba(white, .2)),
  //  url('https://images.pexels.com/photos/3125852/pexels-photo-3125852.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background: lightgrey;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  
}

* {
outline: none; 
-webkit-tap-highlight-color: transparent;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
box-sizing: border-box;
padding: 0;
margin: 0;
}

::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-thumb {
  position: relative;
  z-index: -50;
  background: $BGColor; 
  transition: background .2s;
  border-radius: 10px;
}